<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="temp.css">
    
    <title>Template</title>
</head>

<body>
        <!--Header start -->
        <header class="header"> 
                   
           <h1>Menu</h1>

        </header>
      <!--   Header end -->
 
      
      <aside class="navbar">

            <img  src="./Pic/GeckoGrp-Logo.png" size alt="Gecko Grp Pty Ltd logo"style="width:300px;height:93px"style= "opacity= 0.5";  />
            
                            <input class= "navpb" type = "button" onclick= "navpb(1,navpage)" value = "page1">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(2)" value = "page2">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(3)" value = "page3">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(4)" value = "page4">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(5)" value = "page5">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(6)" value = "page6">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(7)" value = "page7">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(8)" value = "page8">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(9)" value = "page9">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(10)" value = "page10">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(11)" value = "page11">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(12)" value = "page12">
                        
                            <input class= "navpb" type = "button" onclick= "navpb(13)" value = "page13">
                        
                            <input class= "navpb" type = "button" onclick= "navpb(14)" value = "page14">
                        
                            <input class= "navpb" type = "button" onclick= "navpb(15)" value = "page15">
                            
                            <input class= "navpb" type = "button" onclick= "navpb(16)" value = "page16">

        </aside>                       
         

        <section class= "section">

            
         
        </section>
            
        
        <footer class= "footer">

            
        </footer>



             
        </aside>
    



    


























</body>
<!-- javascript include file -->
<script src="temp.js"></script>  

</html>