
.header {
    position: relative;
    left: 350px;
    top: 0px;
    height: 100px;
    width: 1570px;
    background-color: #ba3131;
    vertical-align: middle;
    text-align: center;
    outline-width: 1px;
    outline-color: black;
    } 
 

.header h1{
    position: absolute;
    font-family: "Bookman";
    color:black;
    display: inline; 
    vertical-align: middle;
    text-align: center;
    font-size: 50px; 
           
}
.header h2 {
    font-family: "Bookman";
    color: #ba3131;
    padding: 10px;
       
}

.header h3 {
    font-family: "Bookman";
    color: #ba3131;
       
}

.navbar {
        
    position: absolute;
    float: left;
    top: 0px;
    display: inline-block;
    width: 350px;
    height: 975px;
    background-color: lightgray;
    outline-width: 1px;
    outline-color: black;
     
}

.navbar img {

    text-align: center;   
    
}
/* Navigation pushbutton class*/
.navpb {
    position: relative;
    display: block;
    width: 50%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bookman";
    outline-width: 1px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

.navpb:hover {

    color: white;
    background-color: #ba3131;
    opacity: 0.5;
    
}

.section {
    position: fixed;
    left: 350px;
    top: 100px;
    height: 675px;
    width: 1570px;
    background-color: darkgray;
    } 

    
.footer {
    position: fixed;
    left: 350px;
    top: 775px;
    height: 200px;
    width: 1570px;
    background-color: #ba3131;;
    } 

}
/* Misc CSS*/

.center {

    margin-left: auto;
    margin-right: auto;  
}

.left {

    margin-left: 0%;
    
}

.right {

    margin-right: 100%; 
    
}

