<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="temp.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Template</title>
    <!-- We link our html to the Bootstrap CDN -->
  
</head>

<body>
  
  <div class= "container">

        <!--Header start -->
      <header class="header"> 
                    
          <h1>Menu</h1>
          

      </header>
        <!--   Header end -->
                  
       <section class= "section">
  <!--   Navigation Start-->

    

          <nav id="nav">
            <ul id="navigation">
                  <li><a href="#" class="first">Menu</a></li>
                    <li><a href="#">Plant A &raquo;</a>
                        <ul>
                        <li><a href="#">Raw Water Feed</a></li>
                        <li><a href="#">Ultrafiltration</a></li>
                        <li><a href="#">Reverse Osmosis</a></li>
                        <li><a href="#">Air Compressor</a></li>
                        <li><a href="#">Dissolved Air Flotation</a></li>
                        <li><a href="#">Water Quality</a></li>
                        <li><a href="#">Trends&raquo;</a>
                        <ul>
                          <li><a href="#">Trends 1</a></li>
                          <li><a href="#">Trends 2</a></li>
                          <li><a href="#">Trends 3</a></li>
                          <li><a href="#">Trends 4</a></li>
                          <li><a href="#">Trends 5</a></li>
                          <li><a href="#">Trends 6</a></li>
                        </ul>
                    </ul>
                
                      <li><a href="#">Plant B &raquo;</a>
                        <ul>
                        <li><a href="#">Raw Water Feed</a></li>
                        <li><a href="#">Ultrafiltration</a></li>
                        <li><a href="#">Reverse Osmosis</a></li>
                        <li><a href="#">Air Compressor</a></li>
                        <li><a href="#">Dissolved Air Flotation</a></li>
                        <li><a href="#">Water Quality</a></li>
                        <li><a href="#">Trends&raquo;</a>
                              <ul>
                              <li><a href="#">Trends 1</a></li>
                              <li><a href="#">Trends 2</a></li>
                              <li><a href="#">Trends 3</a></li>
                              <li><a href="#">Trends 4</a></li>
                              <li><a href="#">Trends 5</a></li>
                              <li><a href="#">Trends 6</a></li>
                              </ul>
                      </ul>
                
                  <li><a href="#">Plant C &raquo;</a>
                      <ul>
                        <li><a href="#">Raw Water Feed</a></li>
                        <li><a href="#">Ultrafiltration</a></li>
                        <li><a href="#">Reverse Osmosis</a></li>
                        <li><a href="#">Air Compressor</a></li>
                        <li><a href="#">Dissolved Air Flotation</a></li>
                        <li><a href="#">Water Quality</a></li>
                        <li><a href="#">Trends&raquo;</a>
                              <ul>
                              <li><a href="#">Trends 1</a></li>
                              <li><a href="#">Trends 2</a></li>
                              <li><a href="#">Trends 3</a></li>
                              <li><a href="#">Trends 4</a></li>
                              <li><a href="#">Trends 5</a></li>
                              <li><a href="#">Trends 6</a></li>
                              </ul>
                      </ul>      
                      
                  <li><a href="#">Plant D &raquo;</a>
                      <ul>
                        <li><a href="#">Raw Water Feed</a></li>
                        <li><a href="#">Ultrafiltration</a></li>
                        <li><a href="#">Reverse Osmosis</a></li>
                        <li><a href="#">Air Compressor</a></li>
                        <li><a href="#">Dissolved Air Flotation</a></li>
                        <li><a href="#">Water Quality</a></li>
                        <li><a href="#">Trends&raquo;</a>
                              <ul>
                              <li><a href="#">Trends 1</a></li>
                              <li><a href="#">Trends 2</a></li>
                              <li><a href="#">Trends 3</a></li>
                              <li><a href="#">Trends 4</a></li>
                              <li><a href="#">Trends 5</a></li>
                              <li><a href="#">Trends 6</a></li>
                              </ul>
                      </ul>
                      
                    <li><a href="#">Plant E &raquo;</a>
                        <ul>
                        <li><a href="#">Raw Water Feed</a></li>
                        <li><a href="#">Ultrafiltration</a></li>
                        <li><a href="#">Reverse Osmosis</a></li>
                        <li><a href="#">Air Compressor</a></li>
                        <li><a href="#">Dissolved Air Flotation</a></li>
                        <li><a href="#">Water Quality</a></li>
                        <li><a href="#">Trends&raquo;</a>
                              <ul>
                              <li><a href="#">Trends 1</a></li>
                              <li><a href="#">Trends 2</a></li>
                              <li><a href="#">Trends 3</a></li>
                              <li><a href="#">Trends 4</a></li>
                              <li><a href="#">Trends 5</a></li>
                              <li><a href="#">Trends 6</a></li>
                              </ul>
                      </ul>   
                                                  
                  </ul>

              </ul>                  
            </ul>   
        </nav>

         
       <!--   Section here -->
       </section>
           
        
      <footer class= "footer">
      <!--   Footer here-->
      </footer>

    </div>
  
                 
   
</body>
<!-- javascript include file -->
<script src="temp.js"></script>  

</html>