* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Header Styling*/  

.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

.header h1 {
    display: inline-block;
    font-size: 52px;
    Padding: 10px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 30px;
    padding-right: 150px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Float styling*/ 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Body styling*/ 

body {
    background-color: #d9dcd6;
}

/*Paragraph styling*/ 

p {
    font-size: 20px;
    vertical-align: middle
}

/*Content styling*/ 

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 77%;
    display: inline-block;
    margin-left: 20px;
}

/*SEO block styling*/

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Online reputation block styling*/

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management img {
    max-height: 200px;
}

/*Social media block styling*/

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Benfits sidebar block styling*/

.benefits {
    margin-right: 20px;
    padding: 16px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*Benfits lead block styling*/

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 2px auto;
    max-width: 150px;
}
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Benfits brand block styling*/

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 2px auto;
    max-width: 150px;
}

/*Benfits cost block styling*/

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 2px auto;
    max-width: 150px;
}

/* Footer styling*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2a607c;
}

.footer h2 {
    font-size: 20px;
}
